<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Кабинет</title>
</head>
<body>
  <h1>Добро пожаловать, <%= user.email %>!</h1>
  <h2>Доступные уроки:</h2>
  <ul>
    <% lessons.forEach(lesson => { %>
      <li><a href="/lesson/<%= lesson.id %>"><%= lesson.title %></a></li>
    <% }) %>
  </ul>
</body>
</html>