<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title><%= lesson.title %></title>
</head>
<body>
  <h1><%= lesson.title %></h1>
  <iframe src="/lessons/<%= lesson.file %>" width="100%" height="600px" style="border:none;"></iframe>
</body>
</html>