<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Вход</title>
</head>
<body>
  <h1>Вход</h1>
  <% if (error) { %><p style="color:red;"><%= error %></p><% } %>
  <form action="/login" method="POST" autocomplete="off">
  <input type="email" name="email" placeholder="Email" required autocomplete="off">
  <input type="password" name="password" placeholder="Пароль" required autocomplete="new-password">
  <button type="submit">Войти</button>
</form>

</body>
</html>
